.not-found{
    padding: 5% 8%;
}
.not-found #Christ{
    border-radius: 50%;
    transition: 1.5s;
}
.not-found #Christ:hover{
    transform: scale(105%);
    filter: saturate(150%);
    box-shadow: 0px 0px 20px 0px white;
}